<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--===============UserController==================-->
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.hysf.controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/userController</url-pattern>
    </servlet-mapping>
    <!--=================cartController==================-->
    <servlet>
        <servlet-name>cartController</servlet-name>
        <servlet-class>com.hysf.controller.cartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cartController</servlet-name>
        <url-pattern>/cartController</url-pattern>
    </servlet-mapping>

    <!--配置过滤器-->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.hysf.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/buy.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/address.jsp</url-pattern>
    </filter-mapping>

    <!--配置监听器-->
    <listener>
        <listener-class>com.hysf.dao.impl.MyServletContextListenerImpl</listener-class>
    </listener>
</web-app>